.theme-dark {
    --background-primary: var(--green-deep); /* Background of Edit/Preview Windows, and Graph. */
    --background-primary-alt: var(--silver-deep); /* The divider between all windows, the title bar of the active note, background of the graph options, background of code blocks */
    --background-secondary: var(--purple-deep); /* Background of the Left and Right bars, the bottom bar, the title bar of non-selected notes, and the background of the settings */
    --background-secondary-alt: var(--black); /* The border around the side bars, highlight of selected file in the file explorer, Left bar of settings, the border around settings, and the background of off toggles */
    --background-modifier-border: var(--brass-deep); /* The border around the graph options, decorative divider lines ---, borders of block quotes / tables, the line separating the bottom bar and the main windows, the default for the lines connecting nodes in graph view, the border around drop boxes, and the background color of sliders */
    --background-modifier-form-field: var(--black); /* The idle background for dropdown menus, the background for text fields */
    --background-modifier-form-field-highlighted: var(--green-deep); /* Background color on mouseover/hover on dropdown menus and text fields */
    --background-modifier-box-shadow: var(--silver-deep); /* Drop shadow for context-based tool tips and settings menu. */
    --background-modifier-success: #197300; /* Unknown */
    --background-modifier-error: #3d0000; /* The "Clear" button warning color in the File Recovery page of the settings. Do not recommend changing. */
    --background-modifier-error-rgb: 61, 0, 0; /* Unknown */
    --background-modifier-error-hover: #470000; /* The mouseover/hover color of the "Clear" button on the File Recovery page of the settings. Do not recommend changing. */
    --background-modifier-cover: rgba(0, 0, 0, 0.8); /* The alpha mask / dimming of the background when a menu is open. */
    --text-accent: var(--brass-light); /* Text color for links and tags - includes links in the settings */
    --text-accent-hover: var(--brass-base); /* Text color when you mouseover/hover links and tags */
    --text-normal: var(--silver-light); /* The default text color in the editor/preview, and the text color of the selected file in the File Explorer */
    --text-muted: var(-silver-dark); /* Text color for non-selected files in the File Explorer, text color for right panel, icon color for the top of each side panel, icon color for the stuff at the top of each window in the editor (class="tooltip"?), the default color for nodes in the graph view. */
    --text-muted-rgb: 153, 153, 153;
    --text-faint: #666;
    --text-error: #ff3333;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #483699;
    --interactive-accent-rgb: 72, 54, 153;
    --interactive-accent-hover: #4d3ca6;
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;

    /* Color palette for Theme-That-Shall-Not-Be-Named */

    --green-base: #00503B;
    --green-bright: #227E67;
    --green-light: #0F6751;
    --green-dark: #00372A;
    --green-deep: #000E0B;
/*    --green-deep: #001E17; */
    --green-compliment: #7B2E00;
    --brass-base: #575042;
    --brass-bright: #B7AD97;
    --brass-light: #8B806C;
    --brass-dark: #3F3624;
    --brass-deep: #392D15;
    --brass-compliment: #4B505D;
    --silver-base: #909090;
    --silver-bright: #EEEDED;
    --silver-light: #BBBBBB;
    --silver-dark: #616161;
    --silver-deep: #252525;
    --silver-compliment: #737373;
    --purple-base: #3B0050;
    --purple-bright: #66008B;
    --purple-light: #22002E;
    --purple-dark: #13011A;
    --purple-deep: #0B010E; /* #13011A; */
    --purple-compliment: #707700;
    --black: #000000;
  }
