/* Color palette for Theme-That-Shall-Not-Be-Named */

--green-base: #00503B;
--green-bright: #227E67;
--green-light: #0F6751;
--green-dark: #00372A;
--green-deep: #001E17;
--green-compliment: #7B2E00;
--brass-base: #575042;
--brass-bright: #B7AD97;
--brass-light: #8B806C;
--brass-dark: #3F3624;
--brass-deep: #392D15;
--brass-compliment: #4B505D;
--silver-base: #909090;
--silver-bright: #EEEDED;
--silver-light: #BBBBBB;
--silver-dark: #616161;
--silver-deep: #252525;
--silver-compliment: #737373;
--purple-base: #3B0050;
--purple-bright: #66008B;
--purple-light: #22002E;
--purple-dark: #22002E;
--purple-deep: #000000;
--purple-compliment: #707700;
--black: ##000000;
